.THIS {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}
.THIS .mOverlay {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 100 !important;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(43, 40, 38, 0.6);
}
.THIS .hideBackground {
    background-color: transparent !important;
}
.THIS .hideEle {
    display: none;
}
.THIS .margin-right-6 {
    margin-right: 50%;
}