.THIS *,
.THIS :after,
.THIS :before {
    box-sizing: inherit;
}

.THIS .shadow-body {
    background: #ededed;
    height: 100%;
    width: 100%;
    padding-top: 14px; 
    -webkit-font-smoothing: subpixel-antialiased;
    padding-bottom: 30px !important;
}

/* Not Support Chrome 55
@media (min-width: 49em) {
    .THIS .shadow-body {
        background: #ededed;
        height: 100%;
        width: 100%;
        padding-top: 0 !important;
        -webkit-font-smoothing: subpixel-antialiased;
        padding-bottom: 54px !important;
    }
}

.THIS .footer-wrapper {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 100;
}*/

/* Chrome 55 solution */
.THIS .footer-wrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 9100;
}
@media (min-width: 49em) {
    .THIS .shadow-body {
        background: #ededed;
        height: 100%;
        width: 100%;
        padding-top: 0 !important;
        padding-bottom: 54 !important;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    .THIS .footer-wrapper {
        position: sticky;
        bottom: 0;
        width: 100%;
        z-index: 9100;
    }
}

.THIS .column-container {
    position: relative;
    height: 100%;
    background-color: #f3f2f2;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.THIS .column-container > div {
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.THIS .btnLeft {
    float: left !important;
}