.THIS {
    margin: -16px -32px;
}
.THIS .slds-modal {
    outline: none;
}
.THIS .header-modal {
    padding: 12px 15px;
    text-align: center;
    font-size: large;
}
.THIS .body-model {
    min-height: 130px;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel.first-block {
    margin-top: 0rem;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel.open-bottom {
    border-bottom: 0rem;
    padding-bottom: 0rem;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel.open-top {
    border-top: 0rem;
    padding-top: 0.3rem;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel {
    display: flex;
    background: rgb(243, 242, 242);
    border: 1px solid rgb(221, 219, 218);
    padding: 12px 15px;
    margin-top: .5rem;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel .header {
    font-weight: 700;
    width: 130px;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel .panelDetail {
    padding-left: .5rem;
    width: 100%;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel .panelDetail .uiInput:first-child {
    margin-top: 0px;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel .panelDetail .uiInput {
    margin-top: 5px;
}
.THIS .slds-modal .slds-modal__container .slds-modal__content .entityPanel .panelDetail .hide {
    display: none;
}
.THIS .footer-model {
    text-align: right;
    padding: 12px 15px;
}