.THIS .slds-table {
	overflow-x: scroll !important;
    overflow-y: scroll !important;
  	-webkit-overflow-scrolling: touch;
}
.THIS .slds-table th {
	min-width: 200px !important;
}
.THIS .slds-table td {
	min-width: 200px !important;
}
.THIS .content {
	margin-top: 3rem !important;
}
/*@media (min-width: 49em) {
	.THIS .content {
		margin-top: 3rem !important;
	}
}*/